{% extends 'base.html.twig' %}

{% block title %}Se connecter!{% endblock %}

{% block body %}
    <form method="post" class="container d-flex flex-column align-items-center my-5 py-5">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}


        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté.e en tant que {{ app.user.username }}, => <a href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        {% else %}

        {% for message in app.flashes('ok') %}
            <div class="text-center bg-primary p-2 rounded">{{ message }}</div>
        {% endfor %}
        
            <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
            <div class="card p-5 d-flex flex-column align-items-center">
                <label for="inputUsername">Nom d'utilisateur</label>
                <input type="username" value="{{ last_username }}" name="username" id="inputUsername" class="form-control mb-3" placeholder="Nom d'utilisateur" required autofocus>
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
            
                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >
            
            
                <a href="{{ path('want_reset') }}" class="my-3">Mot de passe oublié ?</a>
                <br>
                <button class="btn btn-lg btn-primary m-auto" type="submit">
                    Se connecter
                </button>

            </div>
        {% endif %}

    </form>
{% endblock %}
