{% extends 'base.html.twig' %}

{% block title %}S'inscrire !{% endblock %}

{% block body %}

    {% if app.user %}
        <div class="container d-flex flex-column align-items-center  my-5 py-5">

            <div class="mb-3">
                Vous êtes connecté.e en tant que {{ app.user.username }}, => <a href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        </div>
    {% else %}
        {{ form_start(form, {'attr': {'class': "container d-flex flex-column align-items-center my-5 py-5"}}) }}
            <h1 class="h3 mb-3 font-weight-normal">Inscription</h1>
            <div class="card p-5 d-flex flex-column align-items-center">
                {{ form_row(form.username, {'attr': {'class': "mb-2"}}) }}
                {{ form_row(form.email, {'attr': {'class': "mb-2"}}) }}
                {{ form_row(form.password, {'attr': {'class': "mb-2"}}) }}
                <button class="btn btn-lg btn-primary m-auto" type="submit">
                    Créer mon compte
                </button>
            </div>
        {{ form_end(form) }}
    {% endif %}    
{% endblock %}
