{#{{ form_start(commentForm) }}
    {{ form_widget(commentForm) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(commentForm) }}

#}
{{ form(commentForm )}}
<h1>ICI le formulaire</h1>
