
{{ form_start(formTrick) }}

    {{ form_row(formTrick.name, {'attr': {'placeholder': "Nom du trick"}}) }}
    {{ form_row(formTrick.figType) }}
    {{ form_row(formTrick.description, {'attr': {'placeholder': "Description du trick"}}) }}
    
    <div class="card mb-3 col-11 col-md-3 col-lg-2 mx-md-2 p-0">
        <img src="{{ asset('img/trick/' ~ trick.image) }}" alt="" class="card-img">
    </div>

    {{ form_row(formTrick.image) }}
    
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>

{{ form_end(formTrick) }}
