{% extends 'base.html.twig' %}

{% block title %}Editer le trick{% endblock %}

{% block body %}
    <section class="container my-3">
        <h1>Editer le trick</h1>

        {{ include('trick/_formMain.html.twig', {'button_label': 'Update'}) }}
        <hr class="in-trick">

        {{ include('trick/_gallery_form.html.twig', {'button_label': 'Update'}) }}
        <hr class="in-trick">

        {{ include('trick/_delete_form.html.twig') }}
    </section>


    <a href="{{ path('trick_index') }}">Retour à la page d'accueil</a>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/add-collection-widget.js') }}"></script>
    <script src="{{ asset('js/custom-file-input.js') }}"></script>

{% endblock %}