{% extends 'base.html.twig' %}

{% block title %}SnowTricks{% endblock %}

{% block body %}
    <header class="masthead">
        <div class="container h-75 d-flex align-items-center">
            <h1 class="mx-auto">Phrase d'accroche</h1>
        </div>

    </header>
    <main class="container my-5 d-flex flex-column align-items-center">
        {% for message in app.flashes('info') %}
            <div class="text-center bg-primary py-2 w-100 mb-3">{{ message }}</div>
        {% endfor %}
        
        <section class="d-flex flex-column flex-md-row flex-md-wrap align-items-center justify-content-md-center">           

            {% for trick in tricks %}
                <div class="card mb-3 col-11 col-md-3 col-lg-2 mx-md-2 p-0">
                    <img src="{{ asset('img/trick/' ~ trick.image) }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="d-flex flex-warp">
                            <h5 class="card-title flex-grow-1"><a href="{{ path('trick_show', {'id': trick.id }) }}">{{ trick.name }}</a></h5>
                            {% if app.user %}
                                <div class="flex-shrink-1">
                                    <a href="{{ path('trick_edit', {'id': trick.id}) }}"><i class="fas fa-pencil-alt"></i></a>
                                    <a href="{{ path('trick_delete', {'id': trick.id}) }}"><i class="fas fa-trash-alt"></i></a>

                                </div>

                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>
        <div id="tools">
            {% if app.user %}
                <a href="{{ path('trick_new') }}">Create new</a>
            {% endif %}
            {% if rang < nbPagesMax %}
                <a id="load_more" href="{{ path('trick_more', {'rang': rang }) }}">
                    <button class="btn btn-primary d-flex btn-spinner" type="button" >
                        <div class="spinner-anim mr-2 my-auto"><i class="fas fa-spinner "></i></div>
                        Load more
                    </button>
                </a>
                {#<a href="{{ path('trick_index', {'rang': rang }) }}">
                    <button class="btn btn-primary d-flex btn-spinner" type="button" >
                        <div class="spinner-anim mr-2 my-auto"><i class="fas fa-spinner "></i></div>
                        Load more
                    </button>
                </a>#}
            {% endif %}
        </div>
        
        
    </main>        
{% endblock %}

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    function clickLoadMore(event){
        event.preventDefault();
        
        const URL = this.href;

        axios.get(URL).then(function(response){
                console.log(response);
                document.getElementById('tools').remove();
                document.querySelector('section').innerHTML += response.data.twig.content;
                let loadMore = document.getElementById('load_more');
                loadMore.addEventListener('click', clickLoadMore);
            });  
    };
    let loadMore = document.getElementById('load_more');
    loadMore.addEventListener('click', clickLoadMore);


</script>
{% endblock %}
