{% extends 'base.html.twig' %}

{% block title %}Trick{% endblock %}

{% block body %}

    <main class=" d-flex justify-content-center">
        <article class="card col-md-10 my-md-5 p-0 relative">
            <img src="{{ asset('img/trick/' ~ trick.image) }}" alt="Illustration du trick" class="rounded-top">
            <div class="card-img-overlay d-flex flex-column pointer-events-none">
                <h1 class="card-title text-center">{{ trick.name }}</h1>
            </div>
            {% if app.user %}
                <div class="bg-dark ml-auto border-secondary rounded flex-row py-2 px-3 absolute">
                    <a href="{{ path('trick_edit', {'id': trick.id}) }}"><i class="fas fa-pencil-alt pr-3"></i></a>
                    <a href="{{ path('trick_delete', {'id': trick.id}) }}"><i class="fas fa-trash-alt"></i></a>
                </div>
                
            {% endif %}
            <div class="card-body">

                {{ include('trick/_gallery.html.twig') }}

                <div class="card-text my-3">
                    {{ trick.description }}
                </div>
                <p class="text-center mt-3 mb-4">
                    <span class="badge badge-secondary">{{ trick.figType.name }}</span>
                    <span class="badge badge-primary">{{ trick.createdAt|date('d/m/Y à H:i') }}</span>
                    <span class="badge badge-info">{{ trick.editAt ? trick.editAt|date('d/m/Y H:i') : '' }}</span>
                </p>
                <hr class="in-trick">

                {% if app.user %}
                    {{ include('comment/_form.html.twig', {'button_label': 'Leave a comment'}) }}
                    <hr class="in-trick">
                     {#{{ include('comment/_form.html.twig') }} #}

                {% endif %}
                <div id="comments">
                    {{ include('comment/_index.html.twig') }}
                </div>
                
            </div>
        </article>
    </main>



     <a href="{{ path('trick_index') }}">back to list</a>

    {#<a href="{{ path('trick_edit', {'id': trick.id}) }}">edit</a>

    {{ include('trick/_delete_form.html.twig') }} #}
{% endblock %}

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    function clickChangePage(event){
        event.preventDefault();
        
        const URL = this.href;

        axios.get(URL).then(function(response){
                console.log(response);
                document.getElementById('comments').innerHTML = response.data.twig.content;
                let changePage = document.querySelectorAll('.change_page');
                changePage.forEach(function(nom){
                    nom.addEventListener('click', clickChangePage);
                })
        });  
    };
    
    let changePage = document.querySelector('.change_page');
    changePage.addEventListener('click', clickChangePage);


</script>
{% endblock %}

