{% extends 'base.html.twig' %}

{% block title %}Trick{% endblock %}

{% block body %}
    <section class="d-flex justify-content-center">

        <article class="card col-md-10 my-md-5 p-0">
            <img src="{{ trick.image }}" alt="" class="rounded-top">
            <div class="card-img-overlay d-flex flex-column">
                <div class="bg-dark ml-auto card flex-row py-2 px-3">
                    <a href="{{ path('trick_edit', {'id': trick.id}) }}"><i class="fas fa-pencil-alt pr-3"></i></a>
                    <a href="{{ path('trick_delete', {'id': trick.id}) }}"><i class="fas fa-trash-alt"></i></a>
                </div>
                <h1 class="card-title text-center">{{ trick.name }}</h1>
            </div>
            <div class="card-body">
                {{ include('trick/_gallery.html.twig') }}

                <div class="card-text my-3">

                    {{ trick.description }}
                </div>
                <p class="text-center mt-3 mb-4">
                    <span class="badge badge-secondary">{{ trick.figType.name }}</span>
                    <span class="badge badge-primary">{{ trick.createdAt|date('d/m/Y à H:i') }}</span>
                    <span class="badge badge-info">{{ trick.editAt ? trick.editAt|date('d/m/Y H:i') : '' }}</span>
                </p>
                <hr class="in-trick">

                {% if app.user %}
                    {{ include('comment/_form.html.twig', {'button_label': 'Leave a comment'}) }}
                    <hr class="in-trick">
                     {#{{ include('comment/_form.html.twig') }} #}

                {% endif %}
                {{ include('comment/_index.html.twig') }}
            </div>
            
        </article>
    </section>



    {# <a href="{{ path('trick_index') }}">back to list</a>

    <a href="{{ path('trick_edit', {'id': trick.id}) }}">edit</a>

    {{ include('trick/_delete_form.html.twig') }} #}
{% endblock %}
